
<!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                  <div class="widget">
                        <div class="widget-title">
                           <h4><i class="icon-globe"></i>Blank Page</h4>
                                  
                        </div>
                        <div class="widget-body">
                        Blank page sample 
                        </div>
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->  