<!doctype html>
<html lang="en">
<head>
	<title>Title</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<?= $this->Html->css('main.css?v=' . time()) ?>


</head>


<body>

<!--  <div class="back-color"></div>   -->
<div class="main p-5 text-right">
	<?= $this->Html->image('aboutus.jpg',array('style' => "width : 100%;height : auto")) ?>

	<h1>همه چیز درباره ی ما</h1>

	<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

	<div>
		<h3>آدرس ما: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
	</div>


</div>


<!--related products-->

<div class=" my-3 part1">
	<h2 class="section-heading"> جدید ترین محصولات</h2>
	<div id="demo0" class="carousel slide container" data-ride="carousel">

		<!-- Indicators -->

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">

				<div class="d-flex justify-content-around align-items-center p-5 related-products">


					<div class="card text-center shadow-lg overflow-hidden ">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p2.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>



					<div class="card text-center shadow-lg overflow-hidden ">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p3.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>


					<div class="card text-center shadow-lg overflow-hidden ">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p5.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>


					<div class="card text-center shadow-lg overflow-hidden  ">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p7.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>



				</div>
			</div>



			<div class="carousel-item ">

				<div class="d-flex justify-content-around align-items-center p-5 related-products">
					<div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p1.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div><div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p2.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div><div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p3.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div><div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p4.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>

				</div>
			</div>

			<div class="carousel-item ">

				<div class="d-flex justify-content-around align-items-center p-5  related-products">
					<div class="card text-center shadow-lg overflow-hidden ">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p15.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>


					<div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p14.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>


					<div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p15.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>


					<div class="card text-center shadow-lg overflow-hidden">
						<a href="detail.html" target="_blank">
							<?= $this->Html->image('p12.jpg', array('class' => 'card-img-top2')) ?>

						</a>
						<div class="text-center ">
							<h4>نام محصول</h4>
							<p>یک متن آزمایشی درباره مشخصات محصول</p>
							<p>390,000 تومان</p>
						</div>
					</div>
				</div>
			</div>


		</div>

		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo0" data-slide="prev">
       <span class="carousel-control-prev"> <img src="img/arrow-l.svg" alt="prev"
												 style="width: 50px; height: 50px;"></span>
		</a>
		<a class="carousel-control-next" href="#demo0" data-slide="next">
       <span class="carousel-control-next"> <img src="img/arrow-r.svg" alt="next"
												 style="width: 50px; height: 50px;"></span>
		</a>
	</div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
