
<nav>

	<ul class="text-center">
		<a href="index.html">
			<li><span><?= $this->HTML->link('سفارش جدید',array('controller' => 'Pages','action' => 'placeOrder')) ?></span></li>
		</a>

		<a href="gallery.html">
			<li><span>محصولات ما</span></li>
		</a>


	</ul>
</nav>
