@import url("sansFont.css");

body {
    direction: rtl;
    font-family: Sans;


}

.footer2{
    background-color:  #c5a880;
    width: 100%;
    min-height: 200px;
    padding-bottom: 50px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: white;
    
}

.footer1{
    width: 40%;
    height: 150px; 
   
    margin-top: 50px;
    margin-bottom: 50px;
}
.title{
    font-family: SansBold;
    color: #e6e6e6;
}
.child{
    color: #e6e6e6;
}