/*

COLOR THEME:

Primary Color: #ECDDD9
Black:#020100
White: #FEFFFE

*/

@import url("sansFont.css");

body {
    direction: rtl;
    font-family: Sans;


}

a i {
    color: #ECDDD9;
    font-size: 18px !important;
}







.btn {

    box-shadow: none !important;
}


/**************************
        Buttons 
***************************/

.btn-primary {
    background-color: #c5a880 !important;
    border-color: #c5a880 !important;
}

.btn-primary:hover {
    background-color: transparent !important;
    color: #c5a880 !important;
}

.btn-outline-secondary {
    color: #FEFFFE !important;
    border-color: #FEFFFE !important;
}

.btn-outline-secondary:hover {
    color: #c5a880 !important;
    background-color: #FEFFFE !important;
}


/**************************
        Headings 
**************************/

.section-heading {
    text-align: center;
    margin-bottom: 50px;
}

.section-heading::first-letter {
    color:#c5a880;
}


/**************************
        Navbar 
***************************/

.navbar {
    opacity: 1;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link,
.navbar-brand {
    color: #020100 !important;
}

.nav-link:hover {
    color: #777 !important;
}

.navbar .btn-primary {
    color: #FEFFFE !important;
}

.navbar .btn-primary:hover {
    color: #020100 !important;
    background-color: transparent !important;
}

.navbar{
background-color:#ffffff;
border-bottom:1px solid #ddd;}


/**************************
        home 
***************************/

.home {
    direction: rtl;
    min-height: 760px;
    overflow: hidden;
   /* background-image: url("../bg9.jpg");
    background-position: bottom;
    background-size: cover;*/
}



/*
.card {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
}
*/
.card-img-top {
    height: 300px;
    object-fit: cover;
}
.card-img-top:hover {
    width: 110%;
    max-height: 300px;
    object-fit: cover;
}
.homebox:hover {
    width: 110%;
    max-height: 300px;
    object-fit: cover;
}

.text-color{
    
    color: #ECDDD9;
}


/**************************



        call to action 


***************************/

.call-to-action {
    background-color: #c5a880;
    color: #FEFFFE;
}


/************************** 

        Gallery / items

***************************/

.price-tag {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #020100;
    padding: 20px;
    color: #ECDDD9;
}

.price {
    font-size: 1rem;
    font-weight: 700;
}

.rial {
    font-size: 1.4rem;
}

.gallery {
    column-count: 3;
    column-width: 33%;
    height: auto;
}

.gallery .pics {
    border-radius: 5px !important;
    position: relative;
    overflow: hidden !important;
}
/*
.gallery .pics img:hover {
    transform: scale(1.3);
}
*/
.pro-box{
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
overflow: hidden;
}

.search-btn{
    border-radius: 5px 0px 0px 5px !important;
    background-color: #c5a880 !important;
     border-color: none;
     color: white;
      box-shadow: none;
      height: 40px;
}


 .search-btn:hover {
        background-color: transparent !important;
        color: #c5a880 !important;
    }

.search-box{
    padding-right: 7px;
    border-radius: 0px 0px 5px 0px;
    height: 40px;
    width: 300px;
    border-top: none;
    border-left: none;
  
    
}
/**************************
 
***************************/



.line2 {
    width: 100%;
    height: 2px;
    background-color: #532e1c;
    
}


/**************************



    Contact & other Forms



***************************/

textarea {
    padding: 10px 10px !important;
}

.mapp{
    width: 500px;
    max-height: 500;
}





/**********************************************


    Responsive


**************************************************/

@media (max-width: 900px) {
    .navbar .nav-item {
        display: block;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
    .navbar .nav {
        background-color: #FEFFFE;
        width: 100%;
        padding: 0px;
        
    }
    .call-to-action,
    .text-right {
        text-align: center;
    }
    .mmm{
        flex-direction: column-reverse;
        margin-top: 100px !important;
    }
    
}

@media(max-width: 500px) {
    .gallery {
        column-count: 1;
        column-width: 100%;
    }
}


/*************************************************







             footer




*************************************************/


.footer2{
    background-color:  #c5a880;
    width: 100%;
    min-height: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 30px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: white;
    
}

.footer1{
    width: 40%;
    height: 150px; 
   
    margin-top: 50px;
    margin-bottom: 50px;
}
.title{
    font-family: SansBold;
    color: #e6e6e6;
}
.child{
    color: #e6e6e6;
}

.more{
    border-radius: 5px 5px 0px 0px !important;
    background-color: #532e1c !important;
    border: none !important;
}


/**************************************************


                      detail

***************************************************/



.body {
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sans;
    direction: ltr;
    margin-top: 100px;

   /* background-color:rgba(186, 175, 163, 0.8);*/
  }
  
  .body {
background-color: white;
    width: 70vw;
    height: auto;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  }

  .frame{
    width: 400px;
    height: 550px;

  }


  .pic{

    width: 400px;
    max-height: 500px;
    
  }


  .o-img{

    width: 70px;
    max-height: 60px;
 

  }


  
  .border-pic{
    
    width: 90px;
    border: solid 1px #5b4732;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;

  }



  .rightside{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }



  .btn-1 {
    border-radius: 5px !important;
    color: white !important;
    background-color: #020100 !important;
    border-color: #020100 !important;
}

.btn-1:hover {
  color: #020100 !important;
    background-color: transparent !important;
    color: #020100 !important;
}


.line{
  width: 30%;
  background-color: #020100;
  height: 1px;
}


.related-products{
    width: 100%;
     height: 55vh;
}
.card-img-top2 {
    height: 150px;
    object-fit: cover;
}




/********************************************

*********************************************/

.part2{
    display: none;
}

@media (max-width: 900px) {

.responsive-detail{
    flex-direction: column;
}

.pic{

    width:100%;
    max-height: 500px;
    
  }

  .part1{
      display: none;
  }

  .part2{
      height: auto;
      display: inline;
  }


}


/*****************************************************

                     about us

******************************************************/

.back-color{
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #5b4732;
    border-right: solid 10px;
    
}

.main{
    width: 80%;
    min-height: 700px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
   /* position: absolute; 
    top: 100px;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    margin-top: 100px;
}



/***********************************************


                     forms


************************************************/


.input-box{
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 30px;

}

.cc{
    column-count: 2;
}

@media (max-width: 800px) {
    .cc{
        column-count: 1;
    }
}



/******************************************




******************************************/




.dark {
    color: #e6e6e6;
    background: #c5a880;
    height: 300px;
}

.dark i {
    font-size: 1.3rem;
    color: #e6e6e6;
}

.portfolio .img-fluid {
    height: 300px;
    object-fit: cover;
}

.portfolio .col-lg-3 {
    position: relative;
}
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    opacity: 0.8;
}



