
@import url("sansFont.css");




body {
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans;

   /* background-color:rgba(186, 175, 163, 0.8);*/
  }
  
  .body {
background-color: white;
    width: 70vw;
    height: auto;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  }

  .frame{
    width: 400px;
    height: 550px;

  }


  .pic{

    width: 400px;
    max-height: 500px;
    
  }


  .o-img{

    width: 70px;
    max-height: 60px;
 

  }

  .other-pics{
    width: 400px;
  }
  
  .border-pic{
    
    width: 90px;
    border: solid 1px #5b4732;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;

  }



  .rightside{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }



  .btn-1 {
    border-radius: 5px !important;
    color: white !important;
    background-color: #020100 !important;
    border-color: #020100 !important;
}

.btn-1:hover {
  color: #020100 !important;
    background-color: transparent !important;
    color: #020100 !important;
}


.line{
  width: 30%;
  background-color: #020100;
  height: 1px;
}